body {
    font-family: 'Josefin Sans', sans-serif;
}

footer {

    margin-top: 20px;

}

input {
    margin-left: 8px;
    margin-right: 8px;
   

label {
    display: block;
}

#jumbotron {
    background-image: url("https://www.clker.com/cliparts/f/b/e/a/1366159006514254019united-states-stylish-flag-header.jpg");
}